cabecera{
background-color: #90EE90 ;  
}
div 
{
  font-family: Pacifico;
  background-color: #90EE90;
  box-sizing: border-box;
  position: relative;
  float: left;
  }

  table{
    height: 120%;
    width: 120%;
  }

h1 {
  color: navy
  margin-left 20px
}